<div class="classicDiv">
    <h1 class="mb-2">Login de Usuario</h1>
    <form action="/login" method="post">
        <label for="userName" class="form-label">Ingrese su nombre:</label>
        <input type="text" name="userName" id="userName" class="form-control" placeholder="John" required>
        <button type="submit" class="btn btn-success mt-3">Enviar</button>
    </form>
</div>