#productsDiv, #chatDiv {
    background-color: lightgray;
    width: 70%;
}

h1, h2 {
    color: blue;
}

#chatLog strong {
    color: blue;
}

#chatLog span {
    color: brown;
}

#chatLog i {
    color: green;
}