<div id="chatDiv" class="m-4 p-4">
    <h2>Centro de mensajes</h2>

    <hr>

    <div id="chatLog" class="mb-2"></div>
    <div class="row justify-content-around">
        <input type="text" name="chatInput" id="chatInput" class="col-9 border-0 rounded" placeholder="Ingresá un mensaje...">
        <button id="sendBtn" type="button" class="btn btn-primary col-2">Enviar</button>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>