<div class="classicDiv">
    <h1 class="mb-2">Login de Usuario</h1>
    <form action="/login" method="post">
        <label for="username" class="form-label">Ingrese su mail:</label>
        <input type="email" name="username" id="username" class="form-control" placeholder="John" required>

        <label for="password" class="form-label">Elija una contraseña:</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="John" required>

        <button type="submit" class="btn btn-success mt-3">Enviar</button>
    </form>
    <hr>
    <p>Aún no te has registrado? <a href="/signUp">Registro</a></p>
</div>