<div id="welcomeDiv">
    <span id="welcomeSpan">Bienvenido <strong id="userName">{{alias}}</strong> <img width="10%" src={{avatar}} id="avatar"></span>
    <form action="/logout">
        <button type="submit" class="btn btn-warning">Desloguearse</button>
    </form>
</div>